<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
        <h1>Exchange</h1>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
            <label class="control-label"></label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" placeholder="Amount to exchange" ng-model="amount" class="form-control">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <p ng-if="!amount">Please enter an amount to place a bid or sell</p>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6" ng-repeat="exchange in exchanges">
        <div class="panel panel-default">
            <div class="panel-heading">{{exchange.currency}}</div>
            <div class="panel-body text-center">
                <div class="col-md-6">
                    <h4>{{exchange.bid}}</h4>
                    <button id="btn1" ng-disabled="!amount" class="btn btn-success btn-sm col-md-12"
                            ng-click="actionBidOrAsk(exchange, 'Buy')">
                        Bid
                    </button>
                </div>
                <div class="col-md-6">
                    <h4>{{exchange.ask}}</h4>
                    <button id="btn2" ng-disabled="!amount" class="btn btn-warning btn-sm col-md-12"
                            ng-click="actionBidOrAsk(exchange, 'Sell')">
                        Ask
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <table class="table table-hover" ng-if="transaction_history_final.length > 0">
        <thead>
        <tr>
            <th>Order</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="{'danger': transaction.type == 'Sell'}"
            ng-repeat="transaction in transaction_history_final track by $index">
            <td>{{transaction.type}}</td>
            <td>{{transaction.currency}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.price}}</td>
        </tr>
        </tbody>
    </table>
</div>